<div class="section teams">
  <div class="row container center">
    <h3 class"header">All Brainstor.mees</h3>
    <div class="team-show">
      <% @users.each do |user| %>
        <% if user.photo.nil? %>
          <div>
            <div>
              <img class="circle avatar-large" src="/assets/default-avatar.png">
            </div>
            <p>@<%= link_to user.username, user_path(user.id) %></p>
          </div>
        <% else %>
          <div>
            <div>
              <img class= "circle avatar-large" src="<%= user.photo %>">
            </div>
            <p>@<%=  user.username %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
